* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Headline {
  background-color: #1c1a19;
  padding: 120px 24px;
  gap: 12px;
  width: 375px;
  margin: 0% 20% 0% 5%;
}

.AppBar {
  position: absolute;
  width: 375px;
  height: 92px;
  left: 0;
  top: 0;
  margin: 0% 30% 0% 5%;
}

.PrimaryText {
  width: 327px;
  height: 124px;
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  margin: 50% 0% 0% 5%;

  /* line-spacing: 0.37px; */
}

.SupportingText {
  width: 327px;
  height: 27px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  margin: 5% 5% 0% 5%;
}

.Description {
  width: 327px;
  height: 123px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 5% 15% 20% 5%;
}

.SocialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 40px;
  margin: -15% 0% 0% 5%;
}

.Group {
  position: absolute;
  left: 65.74%;
  right: -30.09%;
  top: 69.3%;
  bottom: -11.63%;
}

.Title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 327px;
  height: 107px;
  margin: 20% 0% 0% 5%;
}

.imgPlaceholder {
  width: 327px;
  height: 237px;
  left: 24px;
  margin: 25% 0% 0% 5%;
}

.TittlePost {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  margin: 7% 0% 0% 5%;
}

.Supporting {
  width: 327px;
  height: 147px;
  color: #091e42;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 3% 0% 0% 5%;
}

.Tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 297px;
  height: 40px;
  margin: 5% 0% 0% 5%;
}

.EnableButton {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 12px;
  gap: 10px;
  margin: 0% 0% 0% 2%;
}

.Work {
  width: 327px;
  height: 386px;
  margin: 0% 0% 50% 5%;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(image_processing20200427-30692-7af91d.png);
}

.Work1 {
  width: 327px;
  height: 386px;
  top: 410px;
  left: 24px;
  margin: -45% 0% 0% 5%;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(image_processing20200427-30692-7af91d.png);
}

.Work2 {
  width: 327px;
  height: 386px;
  top: 820px;
  left: 24px;
  margin: -1% 0% 0% 5%;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(image_processing20200427-30692-7af91d.png);
}

.Work3 {
  width: 327px;
  height: 386px;
  top: 1230px;
  left: 24px;
  margin: 3% 0% 0% 5%;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(image_processing20200427-30692-7af91d.png);
}

.Work4 {
  width: 327px;
  height: 386px;
  position: absolute;
  margin: 3% 0% 0% 5%;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(image_processing20200427-30692-7af91d.png);
}

.Work5 {
  width: 327px;
  height: 386px;
  margin: 110% 0% 0% 5%;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(image_processing20200427-30692-7af91d.png);
}

.Rectangle73 {
  width: 375px;
  height: 1901px;
  left: 0;
  top: 4137px;
  background: #1c1a19;
  margin: 35% -120% 0% 5%;
}

.Vector {
  position: absolute;
  left: 60%;
  top: 628%;
}

.Vector4 {
  position: absolute;
  top: 665%;
  left: 13%;
}

.Frame30 {
  display: flex;
  top: 700%;
  align-items: center;
  left: 10%;
  margin: 225.69px 90px 150px;
}

.Frame29 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  margin: -94.5px 0 0;
}

.Frame34 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  margin: 47px 0 0;
}

.Frame33 {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* padding: 0px;  */
  gap: 24px;
  margin: 36px 0 0 0;
}

.TextPrimary {
  background: #e5e5e5;
  margin: 30% -1901% 0% 5%;
}

.TextPrimaryText {
  width: 327px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin: 50% 0% 100% 0%;
}

.TextfieldInactive {
  width: 327px;
  height: 48px;
  margin: 0% 10% 0% 10%;
}

.Container {
  width: 327px;
  height: 114px;
  order: 2;
  margin: 0% 10% 5% 10%;
}

.Button {
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 131px;
  height: 48px;
  order: 3;
  margin: 0% 10% 5% 20%;
}

.Rectangle42 {
  height: 15px;

  /* left: 0px;
  right: 0px;
  top: 0px;
  margin: 0% 0% 0% 0%; */
}

.SocialMedia2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0% 0% 10% 15%;
}

.shape {
  width: 134px;
  height: 5px;
  bottom: 8px;
  border-radius: 10px;
  margin: -10% 0% 10% 25%;
}
